
<h5>Date and Time you noteiced this bug</h5>
<input type="date" name="" id=""><br>
<br>
<input type="time" name="" id=""><br>
<br>
<h5>Impact</h5>
<label>
    <input type="radio" name="option" value="option1"> low
  </label>

  <label>
    <input type="radio" name="option" value="option2"> Medium
  </label>

  <label>
    <input type="radio" name="option" value="option3"> High
  </label>
  <br>
  <br>
  <h5> Detail explaination of bug</h5>
  <textarea name="" id="" cols="100" rows="10"></textarea>